<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style-about.css">
</head>
<nav>
    <a href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/works">Works</a>
    <a href="/photos">Photo Gallery</a>
</nav>
<body>
    <h1>About Will</h1>
    <hr>
    <hr>
    <div id="fullBody"> 
        <section id="image">
            <img src="/images/TechCrunch_Disrupt-removebg-preview.png" alt="will smith">
        </section>
        <section id="about">
            <p>He has received an Academy Award, four Grammy Awards, a Golden Globe Award, 
                a Screen Actors Guild Award, and nominations for a 
                Primetime Emmy Award and a Tony Award</p>
                <ul>
                    <li>
                        <em>This makes him one of the few black actors to be nominated for an Emmy, Grammy, Oscar, and Tony Award (EGOT)</em>
                    </li>
                </ul>
                <p>Began his career as part of a hip-hop duo: DJ Jazzy Jeff & the Fresh Prince</p>
                <ul>
                    <li><em>DJ Jazzy Jeff => "Jazz" on Fresh Prince</em></li>
                </ul>
                <p>
                    For his portrayal of Richard Williams in King Richard (2021), 
                    he won the Academy Award, BAFTA Award, Golden Globe Award, and 
                    Screen Actors Guild Award for Best Actor.
                </p>
                <p>He is banned from the Oscars for 10 yrs after slapping Chris Rock</p>
            <div id="quotes">
                <p><em>"the biggest movie star of the post-9/11 era""</em> - Forbes</p>
                <p><em>"Smith's genre of comedy, popularized on the sitcom Fresh Prince of Bel-Air 
                    translated well into commercial box-office appeal. The Fresh Prince watered down 
                    and capitalized upon the then growing popularity of Hip Hop and almost anticipated 
                    its dominance on the American scene"</em> - Andrew Horton</p>
            </div>
        </section>
        <section id="image">
            <img src="/images/willsmith-pursuitofhappiness.jpeg" alt="will smith">
        </section>
    </div>
    </body>
</html>