<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style-photos.css">
</head>
<nav>
    <a href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/works">Works</a>
    <a href="/photos">Photo Gallery</a>
</nav>
<body>
    <div id="first-row-pictures">
        <img src="/images/fresh_prince_background_image.jpeg" alt="fresh prince">
        <img src="/images/after-earth-will-smith.webp" alt="after earth">
        <img src="/images/willsmithgenie.jpeg" alt="genie">
        <img src="/images/Will-Smith-I-Robot-Alex-Proyas.webp" alt="irobot">
    </div>
    <div id="video">
        <iframe width="560" height="415" src="https://www.youtube.com/embed/EZGXCDJATDs" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
        picture-in-picture" allowfullscreen>
        </iframe>
    </div>
</body>
</html>