<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style-works.css">
</head>
<nav>
    <a href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/works">Works</a>
    <a href="/photos">Photo Gallery</a>
</nav>
<body id="background">
    <div id="fullBody">
        <section id="filmography">
            <h2>INSANE filmography</h2>
            <h5>Movie (year) - $$$</h5>
            <ul>
                <li>Men In Black <em>(1997, 2002, 2012)</em>  - <b>1.6B</b></li>
                <li>Aladdin <em>(2019)</em> - <b>1.05B</b> (lol)</li>
                <li>Independence Day <em>(1996)</em> - <b>817M</b></li>
                <li>Suicide Squad <em>(2016)</em> - <b>747M</b></li>
                <li>Hancock <em>(2008)</em> - <b>624M</b></li>
                <li>I Am Legend <em>(2007)</em>  - <b>585M</b></li>
                <li>Bad Boys <em>(1995, 2003)</em> - <b>378M</b></li>
                <li>Hitch <em>(2005)</em> - <b>368M</b></li>
                <li>I, Robot <em>(2004)</em> - <b>347M</b></li>
                <li>The Pursuit of Happyness <em>(2006)</em> - <b>307M</b></li>
                <li>Independence Day <em>(1996)</em> - <b>306M</b></li>
            </ul>
            <p>... not to mention King Richard, where he won Best Actor</p>
        </section>
        <section>
            <h2>TV / Music</h2>
            <h5>TV</h5>
            <ul id="tv">
                <li>Fresh Prince of Bel-Air (1990-1996)</li>
                <li>All of Us (2003-2007)</li>
                <li>One Strange Rock (2018)</li>
            </ul>
            <h5>Music</h5>
            <ul id="tv">
                <li>Big Willie Style (1997)</li>
                <li>Willennium (1999)</li>
                <li>Born to Reign (2002)</li>
                <li>Lost and Found (2005)</li>
            </ul>
        </section>
    </div>
</body>
</html>