body {
    background-color: white;
    color: black;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

a {
    background-color: blue;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 5px 5px 5px black;
  }